
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand><a class="navbar-brand" href="#">The Learned Panda</a></mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Tutorials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Learning Paths</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>About Us</a>
            </li>
        </ul>
        <ul>
            <li class ="nav-item">
            <button type="button" class=" btn btn-danger btn-rounded waves-effect">LOGIN</button>
            </li>
            </ul>
    </links> 
  </mdb-navbar>

