
<footer class="page-footer font-small black">
    <div class=" text-left">© 2020 :
      <a href="https://mdbootstrap.com/"> TLP</a>
      <span class=" text-right">
          <ul>
            <li class="list-inline-item">
              <a href="https://mdbootstrap.com/"> Contact</a>
            </li>
            <li class="list-inline-item">
              <a href="https://mdbootstrap.com/"> Team</a>
            </li>
            <li class="list-inline-item">
              <a href="https://mdbootstrap.com/"> Carrers</a>
            </li>
          </ul>
        </span>
    </div> 
  </footer>
  
